<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--开启ie8大的渲染模式-->
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <!--配置视窗-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <title>后台内容</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js')}}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">-->
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="css/bootstrape-colleen.css">-->
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!--<script src="js/colleen.js"></script>-->

</head>

<body>
<!--制作导航-->
<nav class="navbar navbar-default " id="navigator">
    <div class="container">
        <!--小屏幕的导航和logo-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#col">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('.backend')}}" class="navbar-brand">Eshan-colleen</a>
        </div>

        <!--导航的制作-->
        <div class="navbar-collapse collapse" id="col">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('.backend')}}"><span
                        class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;后台管理</a></li>
                <li><a href="{{ url_for('.user')}}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;用户管理</a>
                </li>
                <li class="active"><a href="{{ url_for('.content')}}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;内容管理</a>
                </li>
                <li><a href="{{ url_for('.tag')}}"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;标签管理</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">admin
                        <span class="caret"></span>
                        <ul class="dropdown-menu ">
                            <li>
                                <a href=""><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;前台首页</a>
                            </li>
                            <li>
                                <a href=""><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人主页</a>
                            </li>
                            <li>
                                <a href=""><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;个人设置</a>
                            </li>
                            <li>
                                <a href=""> <span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;账户中心</a>
                            </li>
                            <li>
                                <a href=""><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;我的收藏</a>
                            </li>
                        </ul>
                    </a>
                </li>
                <li><a href="#luntan"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;退出</a></li>

            </ul>

        </div>
    </div>
</nav>

<section id="cont">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="" class="list-group-item active">管理文章</a>
                    <a href="{{ url_for('.add_title')}}" class="list-group-item">添加文章</a>
                </div>
            </div>

            <div class="col-md-10">
                <div class="page-header">文章管理</div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">文章列表</a></li>
                </ul>
                <table class="table">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>作者</th>
                        <th>发布时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>教你如何成为一个技术大牛</th>
                        <td>张三</td>
                        <td>2016/09/07</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    操作<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">编辑</a></li>
                                    <li><a href="">删除</a></li>
                                    <li><a href="">锁定</a></li>
                                    <li><a href="">修改密码</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>ios的未来发展历程</th>
                        <td>张三</td>
                        <td>2016/09/07</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    操作<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">编辑</a></li>
                                    <li><a href="">删除</a></li>
                                    <li><a href="">锁定</a></li>
                                    <li><a href="">修改密码</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>浅谈面试几大基本准则</th>
                        <td>张三</td>
                        <td>2016/09/07</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    操作<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">编辑</a></li>
                                    <li><a href="">删除</a></li>
                                    <li><a href="">锁定</a></li>
                                    <li><a href="">修改密码</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>凭什么你学不好技术，因为你不坚定</th>
                        <td>张三</td>
                        <td>2016/09/07</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    操作<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">编辑</a></li>
                                    <li><a href="">删除</a></li>
                                    <li><a href="">锁定</a></li>
                                    <li><a href="">修改密码</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>凭什么你学不好技术</th>
                        <td>张三</td>
                        <td>2016/09/07</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    操作<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">编辑</a></li>
                                    <li><a href="">删除</a></li>
                                    <li><a href="">锁定</a></li>
                                    <li><a href="">修改密码</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>浅谈面试几大基本准则，务必遵守啊</th>
                        <td>张三</td>
                        <td>2016/09/07</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    操作<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">编辑</a></li>
                                    <li><a href="">删除</a></li>
                                    <li><a href="">锁定</a></li>
                                    <li><a href="">修改密码</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>凭什么你学不好技术，因为你不坚定</th>
                        <td>张三</td>
                        <td>2016/09/07</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    操作<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">编辑</a></li>
                                    <li><a href="">删除</a></li>
                                    <li><a href="">锁定</a></li>
                                    <li><a href="">修改密码</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="..." class="pull-right">
                    <ul class="pagination">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li class=""><a href="#">2</a></li>
                        <li class=""><a href="#">3</a></li>
                        <li class=""><a href="#">4</a></li>
                        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>

                    </ul>
                </nav>

            </div>

        </div>
    </div>
</section>


</body>
</html>